body{
    background-color:cornsilk;
    top: 0;
    margin: 0;
}

.text-wrapper {
  margin-left: 550px;
  position: relative;
  display: inline-block;
}

/* Big text behind */
.big-text {
  font-size: 100px;       /* make it large */
  font-weight: 800;
  color: #000000;         /* light color for background effect */
  position: relative;
  z-index: 1;
  opacity: 0.3;
}

/* Smaller text in the center */
.small-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;        /* adjust as needed */
  font-weight: 800;
  color: black;           /* front color */
  z-index: 2;
  white-space: nowrap;
  letter-spacing: 0.1em;
}
.underline {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px; /* adjust to sit under the big word */
  width: calc(100% - 75%); /* controls underline width relative to big word */
  height: 4px;
  background: rgb(0, 0, 0);
  z-index: 0;
}

nav{
    background-color: black;
    position:fixed;
    height: 107vh;
    width: 220px;
  }

  
  nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    gap: 35px;
    text-align: center;
    font-weight: bold;
    font-size:x-large;
    margin-top: 20px;
    margin-bottom: 80px; 
}

nav ul a{
    color: aliceblue;
    text-decoration: none;
}

nav ul a:hover{
  color: blue;
}

nav ul a:active{
    color: blue;
}

nav img {
padding: 15px 50px;
border-radius: 50%;
height: 120px;
width: 120px;
margin-bottom: 20px;
}

.social-icons a {
    margin: 0 3px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    padding-left: 30px;
}

.social-icons a:hover {
    color:cadetblue; /* Change color on hover */
}

main{
    margin-left: 250px;
    padding: 60px;
  }

  .career-definition{
    margin-left: 80px;
    
    display: flex;
    gap: 20px;
    width: 80%;
  }

  .education{
    flex: 1;
    border-radius: 20px;
    background-color: #000000;
    border-color: rgb(232, 23, 23);
    padding: 30px;
  }

  .education p{
    margin: 0;
    padding: 0;
    color: #ffffff;
  }

  .education h2{
    color:#ffffff;
    margin-bottom: 50px;
  }

  .education h2 p{
    color:rgb(33, 255, 129);
    font-size:smaller;
  }

  .career{
    flex: 1;
    border-radius: 20px;
    background-color: #000000;
    border: #cb1313;
    border-width: 5px;
    padding: 30px;
    text-align: center;
  }

  .career p{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
  }

  .titles{
    margin-top: 10px;
    margin-left: 180px;
    display: flex;
    gap: 320px;
  }
